body {
	background: #ffe135;
	font-family: 'Lato', sans-serif;
	text-align: center;
}
button {
	margin: 1%;
	padding: 20px;
	border-radius: 8px;
}
.video {
	/*object-fit: initial;*/
	/*max-height: 80%;*/
	height: 80%;
}